[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = anton-mel
	email = 78281795+anton-mel@users.noreply.github.com
